*.iml
.gradle
/local.properties
/.idea/caches
/.idea/sonarlint
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#personalizado
secrets_dev.properties
secrets_prod.properties
/app/secrets_dev.properties
/app/secrets_prod.properties