<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hefesto.juntasaccioncomunal">

    <application
        android:name=".MiAplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JuntasAccionComunal"
        tools:targetApi="31"
        >
        <activity
            android:name=".interfaceUsuario.activities.login.LoginActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".interfaceUsuario.activities.home.HomeActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name=".interfaceUsuario.activities.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.JuntasAccionComunal"
            android:noHistory="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>